<div
  class="container-fluid bg-light rounded-3 mt-5 mx-auto d-flex justify-content-center align-items-center text-center text-light"
>
  <footer
    class="d-flex justify-content-center align-items-center text-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex text-center align-items-center">
      <a href="amanijoseph.com" class="text-muted text-decoration-none lh-1">
        amanijoseph.com
      </a>
      <span class="text-muted">© 2022 Amani Joseph, Inc</span>
    </div>

    <!-- <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">



    </ul> -->
  </footer>
</div>
