<section
  class="elementRef page-section text-info text-center bg-dark my-3 py-3"
>
  <div class="full-width-screen">
    <div class="container-fluid">
      <div class="fw-bolder display-1 text-warning">404</div>
      <div class="text-detail">
        <h4 class="sub-title fw-bolder display-1 py-3">Oops!</h4>
        <p class="detail-text display-5 fw-bold py-3">
          Sorry!!, we could not find any user with that name<br />
        </p>
        <div class="back-btn">
          <p class="py-3 h5">Try typing the username again</p>
        </div>
      </div>
    </div>
  </div>
</section>
