<div
  class="container my-3 d-flex flex-column justify-content-center text-center"
>
  <!-- <h5 class="display-6 lh-base text-info fw-bold">GitSearch Profiles</h5> -->
  <div class="input-group mb-3 w-50 mx-auto rounded-3">
    <input
      type="text"
      placeholder="search for a profile..."
      class="form-control d-flex justify-content-center text-center"
      #profile
      (keyup.enter)="search(profile.value)"
    />
    <button
      class="btn btn-outline-info"
      type="button"
      id="button-addon2"
      ((click)="search(profile.value)"
    >
      Search
    </button>
  </div>
</div>
